/*Tady piš svůj kód*/

.sidebar-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
}

.sidebar-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: flex-end;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: row;
}

.layout {
  display: flex;
  flex-direction: row;
}

/*-------------*/
*,
:before,
:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Noto Sans JP', sans-serif;
  color: #2c3e66;
  background-color: #ececf6;
}

.layout {
  min-height: 100vh;
}

.sidebar {
  background-color: #f2f3ff;
  padding: 0.5rem;
  box-shadow: 1px 0px 8px #c2d1dd;
}

a {
  display: block;
}

.feature {
  padding: 0.5rem;
}

img {
  height: 1.5rem;
  width: 1.5rem;
}
